@model Shapes.Models.Item

<div>
    <h4>Details</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.height)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.height)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.length)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.length)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.width)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.width)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.mass)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.mass)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.shape)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.shape)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.density)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.density)
        </dd>

    </dl>
</div>