@model IEnumerable<Shapes.Models.Item>

@{
    ViewBag.Title = "Index";
}

<h2>Items</h2>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.shape)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.density)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr class="rowToClick">
            <td>
                @Html.DisplayFor(modelItem => item.name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.shape)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.density)
            </td>
        </tr>
        <tr style="display: none;">
            <td class="detailsToShow">
                @{
                    Html.RenderAction("Details", "Home", new { itemName = item.name });
                }
            </td>
        </tr>
    }

</table>


<script src="~/Scripts/jquery-3.4.1.js"></script>
<script>

    //jQuery

    $(".rowToClick").click(function () {
        $(this).next('tr') // Retrieves the tr that was clicked
            .toggle();
    });
</script>